<div class="body">
    <div class="container">
      <h1>Welcome to Book'TSE, the online library you won't be able to live without!</h1>
      <br>
      <h5>You can access the following services:</h5>
  
      <div class="button-container">
        <div class="row">
          <div class="col">
            <a routerLink="/book" class="button">Books</a>
          </div>
          <div class="col">
            <a routerLink="/member" class="button">Members</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a routerLink="/loan" class="button">Loans</a>
          </div>
          <div class="col">
            <a routerLink="/contact" class="button">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  